<div class="grid">
    <div class="col-3 text-right">
      <label for="ybOptions">Database in Use:</label>
    </div>
    <div class="col-9">
      <p-dropdown id="ybOptions" appendTo="body" [options]="ybOptions" [(ngModel)]="ybOption"></p-dropdown>      
    </div>
  </div>
  <div *ngIf="ybOption === 'Yugabyte Managed'">
    <div class="grid">
      <div class="col-3 text-right">
        <label for="accessKey">Access key:</label>
      </div>
      <div class="col-9">
        <p-dropdown id="ybOptions" [options]="ybOptions" [(ngModel)]="ybOption"></p-dropdown>      
      </div>
    </div>
</div>
