<div class="grid">
    <div class="col-3 text-right">
      <label for="ybOptions">Database in Use:</label>
    </div>
    <div class="col-9">
      <p-dropdown id="ybOptions" appendTo="body" [options]="ybOptions" [(ngModel)]="ybOption"></p-dropdown>      
    </div>
  </div>
  <div *ngIf="ybOption === 'Yugabyte Managed'">
    <div class="grid">
      <div class="col-3 text-right">
        <label for="accessKey">Access key:</label>
      </div>
      <div class="col-9">
        <p-dropdown id="ybOptions" [options]="ybOptions" [(ngModel)]="ybOption"></p-dropdown>      
      </div>
    </div>
</div>
<div style="background-color: lightcyan;">
  <div>
      <p-knob [(ngModel)]="desiredValue" textColor="black" [max]="3*3600" [step]="60" [midX]="700" [size]="200" valueTemplate="{{formatTime(desiredValue)}}">{{desiredValue}}</p-knob>
  </div>
</div>  
