<p-toast position="top-center" key="tc"></p-toast>

<div style="position: relative; height: 100%; width: 100%;">
    <figure #network id="network" style="height: 100%; width: 100%"></figure>
    <div class="status grid" style="margin: 0;" *ngIf="yugabyteOffering == 'Yugabyte Managed'">
        <div class="col-4 d-inline-block pt-0">
            <p-button label="Scale Cluster" icon="fa-solid fa-up-down" badge="{{nodeCount}}" 
            class="p-button-sm p-button-secondary" styleClass="p-button-secondary" [style]="{'width' : '100%'}" 
            badgeClass="p-button-secondary" (click)="scaleCluster()"></p-button>
        </div>
        <div class="col-4 d-inline-block pt-0">
            <p-button label="Stop Selected Nodes" icon="fa-solid fa-stop" badge="{{selectedItems.length}}" 
            [disabled]="selectedItems.length == 0" class="p-button-sm p-button-secondary" styleClass="p-button-secondary" [style]="{'width' : '100%'}" 
            badgeClass="p-button-secondary" (click)="confirmStopNodes()"></p-button>
        </div>
        <div class="col-4 d-inline-block pt-0">
            <p-button label="Restart Missing Nodes" icon="fa-solid fa-play" badge="{{missingNodes.length}}" 
            [disabled]="missingNodes.length == 0" class="p-button-sm p-button-secondary" styleClass="p-button-secondary" [style]="{'width' : '100%'}" 
            badgeClass="p-button-secondary" (click)="confirmRestartNodes()"></p-button>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-dialog [(visible)]="scaleClusterDialogVisible" header="Resize Cluster" [draggable]="true" [resizable]="false" [closable]="true" [focusOnShow]="true" [maximizable]="false" (onHide)="closeScaleClusterDialog()">
    <p>
        Cluster currently has {{nodeCount}} node(s).
    </p>
    <p>New number of nodes:
        <p-inputNumber [(ngModel)]="newNodesCount" [min]="1" [max]="24"></p-inputNumber>
    </p>
    <span style="color: lightblue; font-size: small;">{{scaleClusterMessage}}</span>
    <ng-template pTemplate="footer">
        <p-button *ngIf="!showCloseIcon" icon="pi pi-check" (click)="applyScaleClusterDialog()" label="Ok"></p-button>
        <p-button *ngIf="!showCloseIcon" icon="pi pi-times" (click)="closeScaleClusterDialog()" label="Cancel"></p-button>
        <p-button *ngIf="showCloseIcon" icon="pi pi-check" (click)="closeScaleClusterDialog()" label="Close"></p-button>
    </ng-template>
    
</p-dialog>