<p-toast position="top-center" key="tc"></p-toast>

<div style="position: relative; height: 100%; width: 100%;">
    <figure #network id="network" style="height: 100%; width: 100%"></figure>
    <div class="status grid" style="margin: 0;" *ngIf="yugabyteOffering == 'Yugabyte Managed'">
        <span class="col-4">{{nodeCount}} active node(s), {{selectedItems.length}} selected</span>
        <div class="col-4 d-inline-block pt-0">
            <p-button label="Stop Selected Nodes" icon="fa-solid fa-stop" badge="{{selectedItems.length}}" 
            [disabled]="selectedItems.length == 0" class="p-button-sm p-button-secondary" styleClass="p-button-secondary" [style]="{'width' : '100%'}" 
            badgeClass="p-button-secondary" (click)="confirmStopNodes()"></p-button>
        </div>
        <div class="col-4 d-inline-block pt-0">
            <p-button label="Restart Missing Nodes" icon="fa-solid fa-play" badge="{{missingNodes.length}}" 
            [disabled]="missingNodes.length == 0" class="p-button-sm p-button-secondary" styleClass="p-button-secondary" [style]="{'width' : '100%'}" 
            badgeClass="p-button-secondary"></p-button>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

