#network {
    height: 100%;
    width: 100%;
}

.status {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: black;
    color: yellow;
}