<div (wheel)="onMouseWheel($event)">
  <p-panel [header]="'Active Workloads for ' + systemPreferences.workloadName" [toggleable]="true" [collapsed]="false">

    <div *ngFor="let panel of activeWorkloads" class="workload-inst" [ngClass]="currentData[panel].workloadId">
      <!-- <p-panel [header]="currentData[panel].workloadId" [toggleable]="true" [collapsed]="false"> -->
        <p-panel [header]="currentData[panel].description" [toggleable]="true" [collapsed]="false">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
              <span class="pi pi-cog"></span>
          </button>
          <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>

        <div *ngIf="currentData[panel].workloadTypeName == 'THROUGHPUT'">
          <app-throughput-workload [duration]="duration" [workloadId]="currentData[panel].workloadId" [data]="currentData[panel]"></app-throughput-workload>
        </div>
        <div *ngIf="currentData[panel].workloadTypeName == 'FIXED_STEP'">
          <app-fixed-step-workload [duration]="duration" [data]="currentData[panel]"></app-fixed-step-workload>
        </div>
        <div *ngIf="currentData[panel].workloadTypeName == 'FIXED_TARGET'">
          <app-fixed-target-workload [duration]="duration" [workloadId]="currentData[panel].workloadId" [data]="currentData[panel]"></app-fixed-target-workload>
        </div>
      </p-panel>
    </div>
  </p-panel>

  <div class="mt-2">
    <p-panel header="Network Diagram and Aggregate Statistics" [toggleable]="true" [collapsed]="false">
      <div class="grid">
        <div class="col" style="height: 600px;">
          <div style = "width: 100%; height: 100%; background-color: black;">
            <app-network-diagram [graphRefreshMs]="systemPreferences.graphRefreshMs"></app-network-diagram>
          </div>
        </div>
        <div class="col" style="height: 600px;">
          <div style = "width: 100%; height: 100%; background-color: black;">
            <div style="width: 100%; height: 50%">
              <app-statistics-graph style="width: 100%" [idName]="'aggregateLatency'" [timingData]="currentData[AGGREGATION_WORKLOAD].results" [duration]="duration" [timingType]="'LATENCY'" [timingMetric]="'Aggregation Counter'" [timingMetricName]="'Aggregate'"></app-statistics-graph> 
            </div>
            <div style="width: 100%; height: 50%">
              <app-statistics-graph [idName]="'aggregateThroughput'" [timingData]="currentData[AGGREGATION_WORKLOAD].results" [duration]="duration" [timingType]="'THROUGHPUT'" [timingMetric]="'Aggregation Counter'" [timingMetricName]="'Aggregate'"></app-statistics-graph> 
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
</div>
<div style="position: absolute; top: 25px; left: 10px; width: 20px; height: 20px; cursor: pointer;" (click)="displayDialog()">
  <span class="fa-solid fa-bars"></span>
</div>


<p-dialog [(visible)]="commsErrorDialog" header="Communications Error" [modal]="true" [closable]="false">
  Communications with the server cannot be established. Please check network connectivity.
</p-dialog>
<p-dialog [(visible)]="showDialog" [header]="'Workload Management for ' + systemPreferences.workloadName" [modal]="true" [style]="{width: '50vw', height: '75%'}" 
      [draggable]="true" [resizable]="true" [closable]="true" [focusOnShow]="true" [maximizable]="true" (onHide)="closeDialog()">

  <p-tabView *ngIf="valuesComputed" (onChange)="handleChange($event)">
    <p-tabPanel header="System Preferences">
      <div class="grid">
        <div class="col-4" style="text-align:right;">
          <label for="doLogging">Log results:</label>
        </div>
        <div class="col-8">
          <p-inputSwitch id="doLogging" [(ngModel)]="editingSystemPreferences.doLogging"></p-inputSwitch>
        </div>
      </div>
      <div class="grid">
        <div class="col-4" style="text-align: right;">
          <label for="loggingDir">Log Directory:</label>
        </div>
        <div class="col-8">
          <input id="loggingDir" [disabled]="!editingSystemPreferences.doLogging" pInputText style="width:100%" name="loggingDir" [(ngModel)]="editingSystemPreferences.loggingDir">
        </div>
      </div>
      <div class="grid">
        <div class="col-4" style="text-align: right;">
          <label for="graphRefreshMs">Graph Refresh Period (ms):</label>
        </div>
        <div class="col-8">
          <p-inputNumber id="graphRefreshMs" [inputStyle]="{width:'100%'}" name="graphRefreshMs" [(ngModel)]="editingSystemPreferences.graphRefreshMs" [min]="10"></p-inputNumber>
        </div>
      </div>
      <div class="grid">
        <div class="col-4" style="text-align: right;">
          <label for="networkRefreshMs">Network Refresh Period (ms):</label>
        </div>
        <div class="col-8">
          <p-inputNumber id="networkRefreshMs" [inputStyle]="{width:'100%'}" name="networkRefreshMs" [(ngModel)]="editingSystemPreferences.networkRefreshMs" [min]="10"></p-inputNumber>
        </div>
      </div>
      <div class="mt-3">
        <p-button icon="fa-solid fa-save" (click)="saveSystemSettings()" label="Save"></p-button>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Usable Operations" leftIcon="fa-solid fa-table">
      <p-accordion>
        <ng-container *ngFor="let workload of getWorkloads(); let i = index">
          <p-accordionTab header="{{workload.name}}" [(selected)]="selected[i]">
            <div class="workload {{workload.name}} mb-2 large-font">
              <span style="font-size: large;">{{workload.description}}</span>
              <div *ngIf="workload.params.length > 0" class="container-fluid">
                <div *ngFor="let param of workload.params; let j = index">
                  <div class="row">
                    <div class="col-3 align-self-center" style="display: inline-block; text-align: right;">
                      <label [for]="workload.workloadId+'-'+param.name">{{param.name}}:</label>
                    </div>
                    <div class="col-2" *ngIf="param.type == 'NUMBER' && param.sliderLabel" style="display: inline-block;">
                      <p-inputNumber style="width: 100%;" [inputStyle]="{'width': '100%'}" [id]="workload.workloadId+'-'+param.name" [(ngModel)]="workloadValues[workload.workloadId][param.name]" [min]="param.minValue" [max]="param.maxValue"></p-inputNumber>  
                    </div>
                    <div class="col-1" *ngIf="param.type == 'NUMBER' && param.sliderLabel" style="display: inline-block; text-align: right;">
                      <span stye="display: inline-block;">{{param.minValue}}</span>
                    </div>
                    <div class="col-5" *ngIf="param.type == 'NUMBER' && param.sliderLabel" style="display: inline-block;">
                      <p-slider stye="display: inline-block;" [id]="workload.workloadId+'-'+param.name" [(ngModel)]="workloadValues[workload.workloadId][param.name]" [min]="param.minValue" [max]="param.maxValue"></p-slider>
                    </div>
                    <div class="col-1" *ngIf="param.type == 'NUMBER' && param.sliderLabel" style="display: inline-block;">
                      <span stye="display: inline-block;">{{param.maxValue}}</span>
                    </div>
                    <div class="col-9" style="display: inline-block" *ngIf="!param.sliderLabel">
                      <p-inputNumber *ngIf="param.type == 'NUMBER'" [id]="workload.workloadId+'-'+param.name" [(ngModel)]="workloadValues[workload.workloadId][param.name]" [min]="param.minValue" [max]="param.maxValue"></p-inputNumber>
                      <p-inputSwitch *ngIf="param.type == 'BOOLEAN'" [id]="workload.workloadId+'-'+param.name" [(ngModel)]="workloadValues[workload.workloadId][param.name]"></p-inputSwitch>
                      <p-dropdown *ngIf="param.type == 'STRING' && param.choices" [options]="param.choices" [(ngModel)]="workloadValues[workload.workloadId][param.name]"></p-dropdown>
                      <input *ngIf="param.type == 'STRING' && !param.choices" type="text" pInputText [id]="workload.workloadId+'-'+param.name" style="width: 100%;" [name]="workload.workloadId+'-'+param.name" ngDefaultControl [(ngModel)]="workloadValues[workload.workloadId][param.name]"/>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="mt-3">
              <p-button icon="fa-solid fa-right-to-bracket" (click)="launchWorkload(workload.workloadId)" label="Run {{workload.name}} Workload"></p-button>
            </div>
          </p-accordionTab>
        </ng-container>
      </p-accordion>
    
    </p-tabPanel>
    <p-tabPanel header="Active Workloads" leftIcon="fa-solid fa-table">
      <p-table [value]="workloadResults" dataKey="workloadId" [rowHover]="true" [loading]="activeLoading" responsiveLayout="scroll" [globalFilterFields]="['description','startTime']">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="description">
              <div class="flex justify-content-between align-items-center">
                Id
                <p-sortIcon field="description"></p-sortIcon>
                <p-columnFilter type="text" field="description" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="status">
              <div class="flex justify-content-between align-items-center">
                Status
                <p-sortIcon field="status"></p-sortIcon>
                <p-columnFilter type="text" field="status" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="startTime">
              <div class="flex justify-content-between align-items-center">
                Start Time
                <p-sortIcon field="startTime"></p-sortIcon>
                <p-columnFilter type="text" field="startTime" display="menu" class="ml-auto"></p-columnFilter>
              </div>
            </th>
            <th style="width: 8rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workloadStatus>
          <tr>
            <td>
              <span class="p-column-title">Description</span>{{workloadStatus.description}}
            </td>
            <td>
              <span class="p-column-title">Status</span>{{workloadStatus.status}}
            </td>
            <td>
              <span class="p-column-title">Start Time</span>{{workloadStatus.startTime | date:'mediumTime' }}
            </td>
            <td style="text-align: center">
              <button pButton type="button" (click)="terminateTask(workloadStatus.workloadId)" class="p-button-secondary" icon="fa-solid fa-trash-can"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Completed Workloads" leftIcon="fa-solid fa-table">
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <div class="status mt-3" style="color: lightblue; text-align: left; display: inline-block; width: 80%">
      {{status}}
    </div>
  <p-button icon="pi pi-check" (click)="closeDialog()" label="Close"></p-button>
  </ng-template>
</p-dialog>


